<h1>Lista usuarios</h1>
<%= link_to "Crear usuario", new_user_path %>
<table>
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Email</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<% if @users.count > 0 %>
		<% @users.each do |user| %>
		<tr>
			<td> <%= user.name %></td>
			<td> <%= user.email %></td>
			<td> <%= link_to "Ver", user_path(user) %></td>
			<td> <%= link_to "Editar", edit_user_path(user) %></td>
		</tr>
		<% end %>
		<% else %>
		<tr>
			<td> No hay usuarios. </td>
		</tr>
	<% end %>
</table>